<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Cryo-con Model 24 - Home / Status</title>
<link rel="shortcut icon" href="favicon.ico" />
<meta name="description" content="Model 24 - Home">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<META http-equiv="CACHE-CONTROL" content="NO-CACHE">
<META http-equiv="EXPIRES" content="0">
<link rel="stylesheet" type="text/css" href='ccembeddedcss.css' >
<SCRIPT type="text/javascript" LANGUAGE="JavaScript" src = "ccembedjavas.js"></script>
</head>
<body>
<table width="700" border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td><img src="ccTopBannerBkgnd.gif" alt="M24 banner" width="700" height="54"></td>
  </tr>
</table>
<table width="700" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="28" class="banner">&nbsp;</td>
    <td><table width="100%" border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td class="banner" align="center" height="28">&nbsp;</td>
          <td width="14%" class="banner" align="center" height="28"><a href="input.htm" class="banner">Inputs</a></td>
          <td width="14%" class="banner" align="center"><a href="output.htm" class="banner">Outputs</a></td>
          <td width="14%" class="banner" align="center"><a href="relays.htm" class="banner">Relays</a></td>
          <td width="14%" class="banner" align="center"><a href="warmup.htm" class="banner">Warm Up</a></td>
          <td width="14%" class="banner" align="center"><a href="Sys.htm" class="banner">System</a></td>
          <td width="14%" class="banner" align="center"><a href="net.htm" class="banner">&nbsp;Net Cfg.&nbsp;</a></td>
          <td width="14%" class="banner"  align="center"><font color="#FFFFFF"><a href="index.htm" class="banner"> &nbsp;&nbsp;Status&nbsp;&nbsp;</a></font></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="169" class="banner"><h2 align="center"><font color="#000000">Status</font></h2></td>
    <td height="40"><h2 align="center">Cryo-con Model 24 Cryogenic Temperature Controller</h2></td>
  </tr>
</table>
<!-- Begin content-->
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td  width="169">&nbsp;</td>
    <td width="114">&nbsp;</td>
    <td width="127">&nbsp;</td>
    <td width="32">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="top" class="banner"><strong>Temperature&nbsp;</strong></td>
    <td class="temp"  align="right">Ch A:&nbsp;</td>
    <td colspan="3" align="left" class="temp"><strong>Warm Base         </strong></td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td  >&nbsp;</td>
    <td class="temp" align="right"><font size="4">{{ t_warm_base }}&nbsp;</font></td>
    <td class="temp" align="left"><font size="4">K&nbsp;</font></td>
    <td class="temp" align="left"><font color="#FF0000">                  </font></td>
  </tr>
  <tr>
    <td class="banner" width="169">&nbsp;</td>
    <td width="114">&nbsp;</td>
    <td width="127">&nbsp;</td>
    <td width="32">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td class="temp" align="right">Ch B:&nbsp;</td>
    <td colspan="3" align="left" class="temp"><strong>Cold Chuck        </strong></td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td  class="temp">&nbsp;</td>
    <td  class="temp" align="right"><font size="4">{{ t_cold_chuck }}&nbsp;</font></td>
    <td  class="temp" align="left"><font size="4">K&nbsp;</font></td>
    <td  class="temp" align="left"><font color="#FF0000">                  </font></td>
  </tr>
  <tr>
    <td class="banner" width="169">&nbsp;</td>
    <td width="114">&nbsp;</td>
    <td width="127">&nbsp;</td>
    <td width="32">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td class="temp"  align="right">Ch C:&nbsp;</td>
    <td colspan="3" align="left" class="temp"><strong>Gripper BB        </strong></td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td  class="temp">&nbsp;</td>
    <td  class="temp" align="right"><font size="4">{{ t_gripper_bb }}&nbsp;</font></td>
    <td  class="temp" align="left"><font size="4">K&nbsp;</font></td>
    <td  class="temp" align="left"><font color="#FF0000">                  </font></td>
  </tr>
  <tr>
    <td class="banner" width="169">&nbsp;</td>
    <td width="114">&nbsp;</td>
    <td width="127">&nbsp;</td>
    <td width="32">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td class="temp"  align="right">Ch D:&nbsp;</td>
    <td colspan="3" align="left" class="temp"><strong>Braid Shield      </strong></td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td  class="temp">&nbsp;</td>
    <td  class="temp" align="right"><font size="4">{{ t_braid_shield }}&nbsp;</font></td>
    <td  class="temp" align="left"><font size="4">K&nbsp;</font></td>
    <td  class="temp" align="left"><font color="#FF0000">                  </font></td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td  width="169">&nbsp;</td>
    <td width="180">&nbsp;</td>
    <td width="75">&nbsp;</td>
    <td width="28">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="right" valign="top" class="banner"><strong>Control Loops&nbsp;</strong></td>
    <td class="temp"  align="right">Warm Base       :&nbsp;</td>
    <td  class="temp" align="right">300.000</td>
    <td  class="temp" align="left">K</td>
    <td  class="temp" align="left">  5% MID         </td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td class="banner">&nbsp;</td>
    <td  class="temp" align="right">Cold Chuck      :&nbsp;</td>
    <td  class="temp" align="right">100.000</td>
    <td  class="temp" align="left">K</td>
    <td  class="temp" align="left">
  0% 10W         </td>
    <td >&nbsp;</td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td  width="169">&nbsp;</td>
    <td width="223">&nbsp;</td>
    <td width="79">&nbsp;</td>
    <td width="21">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="28" align="right" valign="top" class="banner"><strong>Relays&nbsp;</strong></td>
    <td colspan="4" align="center" >Relay #1: Source: ChA Status: Auto Off          </td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td height="28" class="banner">&nbsp;</td>
    <td colspan="4" align="center" >Relay #2: Source: ChB Status: Auto Off          </td>
    <td >&nbsp;</td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="169">&nbsp;</td>
    <td width="223">&nbsp;</td>
    <td width="79">&nbsp;</td>
    <td width="21">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="28" align="right" valign="top" class="banner"><strong>Warm Up&nbsp;</strong></td>
    <td colspan="4" align="center" >Warm Up: Source: ChD Status: --                </td>
    <td >&nbsp;</td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td  width="169">&nbsp;</td>
    <td width="180">&nbsp;</td>
    <td width="75">&nbsp;</td>
    <td width="28">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="169" rowspan="2" align="right" valign="top" class="banner"><strong>Instrument&nbsp;</strong><br>
      <strong>Status&nbsp;</strong></td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td height="28" colspan="4" align="center" class="note">NewCryocon        </td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td height="28" class="banner">&nbsp;</td>
    <td colspan="4" align="center" class="note">Cryocon,Model 24,203675,3.19E      </td>
    <td >&nbsp;</td>
  </tr>
</table>
</body>
</html>
